/* General setup */
@font-face {
  font-family: 'ambleregular';
  src: url('fonts/amble-regular-webfont.woff2') format('woff2'),
       url('fonts/amble-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'benneregular';
  src: url('fonts/benne-regular-webfont.woff2') format('woff2'),
       url('fonts/benne-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
html {
  font-family: 'benneregular', serif;
  font-size: 10px;
}

h1, h2 {
  font-family: 'ambleregular', sans-serif;
  letter-spacing: 2px;
}

p, ol, ul {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

section h2 + p {
  text-indent: 20px;
}

a:link {
  color: #aa6666;
}

a:visited {
  color: #5a1f40;
}

a:focus {
  color: #844545;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #cc9292;
  text-decoration: none;
}

a:active {
  color: #885271;
  background: #f7cdcd;
}

a[href*="http"] {
  background: url('external-link-52.png') no-repeat right 25%;
  background-size: 1.6rem 1.6rem;
  padding-right: 1.9rem;
}

section ul {
  list-style-type: circle;
}

aside ul {
  list-style-type: '# ';
}

nav ul li {
  list-style-type: none;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 2rem;
  border: 2px solid #aa6666;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

nav a:hover {
  background-color: #f7cdcd;
  color: #aa6666;
}
